body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0c8e8;
    background: linear-gradient(45deg, #f0c8e8, #a5d0f5);
}

h1 {
    color: #333;
}

.MasterBox0 {
    position: relative;
    top: 0px;
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;
    background: #ffffff00;
}

/* MENU  */
.BarraMenu {
    position: relative;
    height: 60px;
    width: 100%;
    background: white;
    margin-bottom: 14px;
    border-radius: 0px 0px 14px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    box-sizing: border-box;
}

.BarraMenu img {
    height: 60px;
}

.BarraMenu h1 {
    margin-block-start: 5px;
    margin-block-end: 0px;
    margin-right: 20px;
}

.linediv {
    position: relative;
    height: 40px;
    width: 2px;
    background: #efb3ec9c;
}

.BarraMenu button {
    border: none;
    font-size: 16px;
    font-weight: bold;
    background: #ffffff00;
    color: black;
    transition: 0.3s;
}


.box_btns {
    display: flex;
    overflow-x: auto;
    align-items: center;
    margin-top: 10px;
    height: 50px;
    gap: 0px;
    margin-left: 14px;
    white-space: nowrap;
}

.box_btns a {
    text-decoration: none;
    color: #4d4d4d;
    background: #f1d6ef00;
    padding: 10px 7px;
    border-radius: 7px;
    transition: 0.3s;
}

.box_btns a:hover {
    background: #f1d6ef;
    transition: 0.3s;
}

/* Estilo para la barra de desplazamiento */
.box_btns::-webkit-scrollbar {
    height: 8px;
    /* Altura de la barra de desplazamiento */
}

.box_btns::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color de fondo de la pista */
    border-radius: 10px;
    /* Bordes redondeados de la pista */
}

.box_btns::-webkit-scrollbar-thumb {
    background: #e9a8d2;
    border-radius: 10px;
}

.box_btns::-webkit-scrollbar-thumb:hover {
    background: #d695bf;
}

.BarraMenu_Left {
    display: flex;
    align-items: center;
}

.BarraMenu_Right {
    display: flex;
    /* Cambiado a flex */
    align-items: center;
    margin-left: auto;
    /* Empuja el contenido a la derecha */
}

.Box_Hora {
    height: 60px;
    position: relative;
    top: 0px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}


#dateTime {
    position: relative;
    text-align: center;
    background: #a1bbf700;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

#dateTime h1 {
    font-size: 17px;
    margin: 0px;
    color: #474747;
    font-weight: bold;
}

#dateTime p {
    font-size: 23px;
    margin: 0;
    color: #333;
    font-weight: bold;
}

.menu_tittle {
    display: inline-flex;
    align-items: center;
    min-width: 300px;
}



.Box_LogOut {
    height: 60px;
    position: relative;
    top: 0px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

#logout1 {
    cursor: pointer;
    background: #f1d6ef00;
    border-radius: 8px;
}

#logout1:hover {
    background: #f1d6ef;
}

#logout1 img {
    height: 32px;
    padding: 5px;
}

#Box_open_Menu_RWD {
    display: none;
    height: 60px;
    width: 60px;
    background: #39393900;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    right: 0px;
    border-radius: 14px 0px 14px 14px;
    transition: 0.3s;
}

#Box_open_Menu_RWD:hover {
    cursor: pointer;
    background: #39393942;
    transition: 0.3s;
}

#Box_open_Menu_RWD img {
    height: 100%;
}

@media screen and (max-width: 900px) {
    .Box_Hora {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .box_btns {
        display: none;
    }

    .Box_LogOut {
        display: none;
    }

    #Box_open_Menu_RWD {
        display: block;
    }

    .linediv {
        display: none;
    }

    .BarraMenu_Right {
        display: none;
    }

    .BarraMenu {
        justify-content: center;
    }

    .menu_tittle {
        justify-content: center;
    }

    .BarraMenu h1 {
        margin-right: 0px;
    }

}


.modal_Menu_RWD {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255 255 255);
}

.modal_content_Menu {
    width: 100%;
    height: 100%;
    background-color: #00000000;
    border-radius: 10px;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
}

.modal_menu_tittle {
    height: 40px;
    min-height: 40px;
    background: #ffffff;
    border-bottom: 1px solid rgb(221 221 221);
}

.modal_menu_tittle h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-align: center;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modal_menu_body {
    overflow: auto;
    flex: 1;
    padding: 41px;
    box-sizing: border-box;
    width: 100%;
    background: #dbc3db;
}

.box_btns_Menu_RWD {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.box_btns_Menu_RWD a {
    text-decoration: none;
    color: #292929;
    background: #ffffff00;
    padding: 10px 14px;
    border-radius: 8px;
    font-size: 17px;
    transition: 0.3s;
}

.box_btns_Menu_RWD a:hover {
    cursor: pointer;
    background: #ffffffa3;
    transition: 0.3s;
}

.modal_menu_down {
    width: 100%;
    background: #ffffff;
    border-top: 1px solid hsl(208.13deg 44.59% 87.48%);
    min-height: 24px;
    display: inline-flex;
    justify-content: space-evenly;
    padding: 7px 0px;
    align-items: center;
}

.modal_menu_down p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: #000000;
}

.close_btn {
    position: absolute;
    color: #ffffff;
    right: 0px;
    font-family: math;
    font-size: 25px;
    font-weight: bold;
    background: #ad5353;
    padding: 0px 15px;
    border-radius: 7px;
    margin: 6px;
    transition: 0.3s;
}

.close_btn:hover,
.close_btn:focus {
    background: #d53b3b;
    transition: 0.3s;
    cursor: pointer;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        /* Comienza en su posición original */
    }

    to {
        transform: translateY(100%);
    }
}

/* MENU FIN */


/* container_admin */
.container_admin {
    width: 100%;
    position: relative;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    background: #ffffff;
    backdrop-filter: blur(11px);
    height: calc(100vh - 74px);
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    margin: 0 auto;
}

.panelAdmin_tittle {
    min-height: 40px;
    background: #eeefff00;
    border-bottom: 1px solid rgb(221 221 221);
}

.panelAdmin_tittle h2 {
    margin-block-start: 2px;
    margin-block-end: 0px;
    text-align: center;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.panelAdmin_body {
    overflow: auto;
    flex: 1;
    padding: 0px 0px 20px 0px;
    display: inline-flex;
    flex-direction: column;
    background: #eeefff00;
}

.panelAdmin_down {
    width: 100%;
    background: #eeefff00;
    border-top: 1px solid hsl(0deg 0% 86.76%);
}

.panelAdmin_down p {
    margin-block-start: 7px;
    margin-block-end: 7px;
    font-size: 14px;
    text-align: center;
}

.panelAdmin_body h2 {
    text-align: center;
    margin-block-start: 7px;
    margin-block-end: 10px;
}

.divisor {
    width: 100%;
    height: 1px;
    background: #dddddd;
}

.button-list {
    display: inline-flex;
    margin: 11px 0px;
    padding: 0px 130px;
    gap: 15px;
    justify-content: space-between;
}

.button-list button {
    background: #3eb8ff;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 7px;
    font-size: 14px;
    gap: 5px;
    transition: 0.3s;
}

.button-list button:hover {
    cursor: pointer;
    background: #7ee48f;
    transition: 0.3s;
}

.button-list button img {
    position: relative;
    height: 32px;
}


#addServiceButton {
    background: #d2f1d8bd;
    box-shadow: 0px 0px 0px 1px rgb(179 241 94);
    transition: 0.3s;
}

#addServiceButton:hover {
    background: #b0eebcbd;
    transition: 0.3s;
}

#configurarITBISButton {
    background: #ebebeb;
    box-shadow: 0px 0px 0px 1px rgb(196 233 153);
    transition: 0.3s;
}

#configurarITBISButton:hover {
    background: #e1e1e1;
    transition: 0.3s;
}

#empleadosButton {
    background: #ffe0d7;
    box-shadow: 0px 0px 0px 1px rgb(193 111 86 / 52%);
    transition: 0.3s;
}

#empleadosButton:hover {
    background: #f5d4ca;
    transition: 0.3s;
}

#historialButton {
    background: #e9f2ff;
    box-shadow: 0px 0px 0px 1px rgb(200 222 255);
    transition: 0.3s;
}

#historialButton:hover {
    background: #d5e6ff;
    transition: 0.3s;
}

#hamperList,
#otherServiceList {
    display: inline-flex;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4px;
    padding: 0px 130px;
    box-sizing: border-box;
    margin-bottom: 25px;
}

#hamperList div,
#otherServiceList div {
    padding: 10px;
    border: 1px solid #8abadb;
    border-radius: 12px;
    background: #a9b6fb8a;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 20%;
    min-width: 193px;
    flex: 1 1 calc(20% - 4px);
    box-sizing: border-box;
    transition: 0.3s;
}

#hamperList div:hover,
#otherServiceList div:hover {
    transform: scale(0.98);
    cursor: grab;
    background: #8897e08a;
    transition: 0.3s;
}

#hamperList div:active,
#otherServiceList div:active {
    cursor: grabbing;
}

#hamperList div h3,
#otherServiceList div h3 {
    margin-block-start: 3px;
    margin-block-end: 6px;
    text-align: center;
}

#hamperList div img,
#otherServiceList div img {
    height: 77px;
    border-radius: 10px;
}

#hamperList div p,
#otherServiceList div p {
    margin-block-start: 5px;
    margin-block-end: 5px;
}

#hamperList div button,
#otherServiceList div button {
    border: none;
    padding: 7px 14px;
    border-radius: 5px;
    background: #f7fcff;
    border: 1px solid #6da7cf;
    font-size: 17px;
    transition: 0.3s;
    margin-top: 5px;
}

#hamperList div button:hover,
#otherServiceList div button:hover {
    cursor: pointer;
    background: #cce7f7;
    transition: 0.3s;
}


#grupo-left {
    display: inline-flex;
    gap: 14px;
}


@media screen and (max-width: 1170px) {
    .button-list {
        padding: 0px 20px;
    }

    #hamperList,
    #otherServiceList {
        padding: 0px 20px;
    }
}



/* container_admin FIN */




/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0 0 0 / 51%);
    backdrop-filter: blur(12px);
}

.modal-content {
    background-color: #a6b9d56e;
    width: 80%;
    max-width: 970px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    flex-direction: column;
    max-height: calc(100% - 50px);
}

.close {
    position: absolute;
    color: #ffffff;
    right: 0px;
    font-family: math;
    font-size: 25px;
    font-weight: bold;
    background: red;
    padding: 0px 15px;
    border-radius: 7px;
    margin: 6px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal_tittle {
    height: 40px;
    min-height: 40px;
    background: #ffffff;
    border-bottom: 1px solid rgb(221 221 221);
    border-radius: 12px 12px 0px 0px;
}

.modal_tittle h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-align: center;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modal_body {
    overflow: auto;
    flex: 1;
    padding: 20px 30px 60px 30px;
    width: 100%;
    max-width: 470px;
    background: #ffffff;
    margin: 17px auto;
    border-radius: 5px;
    border: 1px solid #59b4f3;
    border-radius: 12px;
    background: #d0d7fd;
}

.modal_down {
    width: 100%;
    background: #ffffff;
    border-top: 1px solid hsl(208.13deg 44.59% 87.48%);
    border-radius: 0px 0px 12px 12px;
    min-height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.modal_down button {
    background: #9ce3ff;
    border: 1px solid #009ad7;
    padding: 12px 7px;
    color: #000000;
    font-weight: bold;
    transition: 0.3s;
    border-radius: 8px;
    margin: 7px 0px;
}

.modal_down button:hover {
    cursor: pointer;
    background: #4bc4f3;
    transition: 0.3s;
}

#deleteHamperButton,
#deleteOtherServiceButton {
    background: #f9a6a6;
    border: 1px solid #ff0000;
    padding: 12px 7px;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    border-radius: 8px;
    margin: 7px 0px;
    color: black;
    transition: 0.3s;
}

#deleteHamperButton:hover,
#deleteOtherServiceButton:hover {
    cursor: pointer;
    background: #ff6060;
    transition: 0.3s;
}

.modal label {}

.modal input {
    border: none;
    padding: 7px 7px;
    width: 176px;
    background: #f2f4ff;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #7980a9;
}

.modal select {
    width: 50%;
    height: 30px;
    background: #f2f4ff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

#consumoContainerHamper,
#consumoContainerOtroServicio,
#consumoContainer {
    display: inline-flex;
    gap: 7px;
}

#consumoContainerHamper select,
#consumoContainerOtroServicio select,
#consumoContainer select {
    width: 50%;
    height: 30px;
    background: #f2f4ff;
    border-radius: 5px;
    cursor: pointer;
}

#consumoContainerHamper input,
#consumoContainerOtroServicio input,
#consumoContainer input {
    width: 39%;
    background: #f2f4ff;
}

#consumoContainerHamper button,
#consumoContainerOtroServicio button,
#consumoContainer button {
    height: 30px;
    border-radius: 5px;
    border: none;
    display: inline-flex;
    align-items: center;
    color: #1e1e1e;
    background: #9ce3ff;
    border: 1px solid #009ad7;
    transition: 0.3s;
}

#consumoContainerHamper button:hover,
#consumoContainerOtroServicio button:hover,
#consumoContainer button:hover {
    cursor: pointer;
    background: #39a1d4;
    transition: 0.3s;
}

.modal_body p {
    margin-block-start: 1em;
    margin-block-end: 4px;
}

.modal_body h4 {
    margin-block-start: 5px;
    margin-block-end: 5px;
}

#configurarITBISForm {
    text-align: justify;
}

#consumoListHamper,
#consumoListOtroServicioEdit,
#consumoList,
#consumoListOtroServicio {
    display: inline-flex;
    width: 100%;
    background: #f2f4ff;
    padding: 7px 14px 7px 14px;
    box-sizing: border-box;
    border-radius: 5px;
    flex-direction: column;
    gap: 5px;
}

#consumoListHamper div,
#consumoListOtroServicioEdit div,
#consumoList div,
#consumoListOtroServicio div {
    display: inline-flex;
    gap: 5px;
    align-items: center;
}

#consumoListHamper button,
#consumoListOtroServicioEdit button,
#consumoList button,
#consumoListOtroServicio button {
    background: #ff9d9d;
    border: 1px solid #ff4a4a;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s;
}

#consumoListHamper button:hover,
#consumoListOtroServicioEdit button:hover,
#consumoList button:hover,
#consumoListOtroServicio button:hover {
    cursor: pointer;
    background: #e27a7a;
    transition: 0.3s;
}

/* Estilos para el modal */

/* Estilos para el modal de empleados */

.cube_empleados {
    display: inline-flex;
    width: 100%;
    align-items: baseline;
    gap: 10px;
}

#nuevoEmpleado {
    border: none;
    padding: 7px 7px;
    width: 176px;
    background: #f2f4ff;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #7980a9;
    width: 70%;
}

#addEmpleadoButton {
    background: #00ff508f;
    border: none;
    box-shadow: 0px 0px 0px 1px rgb(0 191 48);
    border-radius: 4px;
    padding: 5px 7px;
    width: 30%;
    cursor: pointer;
}

#empleadosList button {
    background: #ff00004a;
    border: none;
    box-shadow: 0px 0px 0px 1px rgb(255 0 0);
    border-radius: 4px;
    padding: 4px 7px;
    margin-left: 5px;
    cursor: pointer;
}


/* Estilos para el modal de empleados FIN*/



ul {
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 0px;
}

#modal-content-historial {
    overflow: auto;
}

#modal-body-historial {
    overflow: auto;
    flex: 1;
    padding: 20px 30px 20px 30px;
    box-sizing: border-box;
    width: 100%;
    max-width: none;
    background: #ffffff;
    margin: 0px;
    border: none;
    border-radius: 0px;
}

li {
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

.historial-add {
    background-color: rgb(0 235 5 / 16%);
    box-shadow: rgb(17 159 35) 0px 0px 0px 1px;
}

.historial-update {
    background-color: rgb(230, 243, 255);
    box-shadow: rgb(119 174 223) 0px 0px 0px 1px;
}

.historial-delete {
    background-color: rgb(235 0 0 / 16%);
    box-shadow: rgb(251 49 49) 0px 0px 0px 1px;
}

.ITBIS-update {
    background-color: rgb(246 251 193);
    box-shadow: rgb(255 212 46) 0px 0px 0px 1px;
}



@media screen and (max-width: 700px) {


    .panelAdmin_tittle h2 {
        font-size: 1.3em;
    }

    .modal {
        background-color: rgb(255, 255, 255);
        backdrop-filter: blur(0px);
    }

    .modal-content {
        background-color: #ffffff;
        width: 100%;
        top: 0px;
        left: 0px;
        transform: none;
        max-height: calc(100% - 0px);
        height: 100%;
    }

    .modal_tittle {
        border-radius: 0px;
    }

    .modal_down {
        border-radius: 0px;
    }

    .modal_body {
        background: #9199c5;
        padding: 35px 15px 20px 15px;
        box-sizing: border-box;
        background: #bed7ef;
        border: none;
        border-radius: 0px;
        margin: 0px;
        max-width: 700%;
    }

    #modal-body-historial {
        overflow: auto;
        flex: 1;
        padding: 10px 20px 10px 20px;
    }
}


@media screen and (max-width: 625px) {
    #grupo-left {
        display: inline-flex;
        gap: 14px;
        flex-direction: column;
        width: 100%;
    }

}


#loadMoreButton {
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #0078df;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #loadMoreButton:hover {
    background-color: #005bb5;
  }

  #noMoreRecordsMessage {
    font-style: italic;
    color: #888;
    text-align: center;
    margin-top: 10px;
  }
