body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0c8e8;
    background: linear-gradient(45deg, #f0c8e8, #a5d0f5);
}

h1,
h2 {
    color: #333;
}

.MasterBox0 {
    position: relative;
    top: 0px;
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;
    background: #ffffff00;
}


.container_facturas {
    width: 100%;
    position: relative;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    background: #ffffff;
    backdrop-filter: blur(11px);
    height: calc(100vh - 74px);
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    margin: 0 auto;
}

.panelFacturas_tittle {
    height: 40px;
    background: #eeefff00;
    border-bottom: 1px solid rgb(221 221 221);
}

.panelFacturas_tittle h2 {
    margin-block-start: 2px;
    margin-block-end: 0px;
    text-align: center;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.panelFacturas_body {
    overflow: auto;
    flex: 1;
    padding: 0px 30px 20px 30px;
    display: inline-flex;
    flex-direction: column;
    background: #eeefff00;
}

.panelFacturas_down {
    width: 100%;
    background: #eeefff00;
    border-top: 1px solid hsl(0deg 0% 86.76%);
}

.panelFacturas_down p {
    margin-block-start: 7px;
    margin-block-end: 7px;
    font-size: 14px;
    text-align: center;
}

/* TABLA */
.transaction-table-container {
    min-height: 100px;
    overflow-y: auto;
    border: 1px solid #a3c4d7;
    border-radius: 0px 0px 10px 10px;
}

#invoicesTable th {
    background-color: #d7d7d7;
    position: sticky;
    top: 0;
    z-index: 10;
    color: #252525;
    border: 0px solid #000000;
}

tr:hover {
    cursor: pointer;
    background: rgb(194 210 235);
    transition: 0.3s;
}

.transaction-table-container::-webkit-scrollbar {
    width: 8px;
}

.transaction-table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 2px;
}

.transaction-table-container::-webkit-scrollbar-thumb {
    background-color: #9db3c9;
    border-radius: 2px;
}

.cantidad-img {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    background: #fdabf7;
    color: #000000;
    height: 42px;
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
}

.cantidad-img img {
    height: 30px;
    margin: 10px;
    /* filter: contrast(0.4); */
}

.box_search-container {
    background: #788da900;
    display: inline-flex;
}

.search-container {
    background: #ff000000;
    height: 40px;
    width: 100%;
    max-width: 700px;
    display: inline-flex;
    position: relative;
    margin: 10px 0px;
}

.search-container input {
    position: relative;
    height: 40px;
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 0px 0px 0px 60px;
    border: none;
    border-radius: 10px;
    background: #f1d6ef;
    border: 1px solid #dfb8dc00;
    font-size: 17px;
}

.search-container input:focus {
    outline: none;
    /* Elimina el contorno predeterminado del navegador */
    border: 1px solid #dfb8dc;
    /* Cambia el color del borde al enfocar */
    box-shadow: 0 0 5px rgba(223, 184, 220, 0.5);
    /* Agrega una sombra para resaltar el enfoque */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* TABLA FIN */

.hidden {
    display: none !important;
}

.input-container {
    display: flex;
    align-items: center;
}

.prefix {
    margin-right: 5px;
    font-weight: bold;
}

.button-metodo-pago {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0 0 0 / 51%);
    backdrop-filter: blur(12px);
}

.modal-content {
    background-color: #a6b9d56e;
    width: 80%;
    max-width: 970px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    flex-direction: column;
    max-height: calc(100% - 50px);
    overflow: auto;
}

.modal-content button {
    cursor: pointer;
    transition: 0.3s;
}

.close {
    position: absolute;
    color: #ffffff;
    right: 0px;
    font-family: math;
    font-size: 25px;
    font-weight: bold;
    background: red;
    padding: 0px 15px;
    border-radius: 7px;
    margin: 6px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal_preview_factura_tittle {
    height: 40px;
    min-height: 40px;
    background: #ffffff;
    border-bottom: 1px solid rgb(221 221 221);
    border-radius: 12px 12px 0px 0px;
}

.modal_preview_factura_tittle h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-align: center;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modal_preview_factura_body {
    overflow: auto;
    flex: 1;
    padding: 20px 30px 20px 30px;
    width: 100%;
    max-width: 470px;
    background: #ffffff;
    margin: 17px auto;
    border-radius: 5px;
}

.modal_preview_factura_down {
    width: 100%;
    background: #ffffff;
    border-top: 1px solid hsl(208.13deg 44.59% 87.48%);
    border-radius: 0px 0px 12px 12px;
}



#modal_historial {
    margin: 0px;
    max-width: none;
    padding: 5px 30px;
    box-sizing: border-box;
    border-radius: 0px;
}


ul {
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 0px;
}

li {
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    background-color: rgb(230 242 247);
    box-shadow: rgb(169 226 249) 0px 0px 0px 1px;
}



.employee-selection {
    margin-bottom: 15px;
    width: 100%;
}

.employee-select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    background-color: #f9f9f9;
}

.employee-select:focus {
    outline: none;
    border-color: #189dff;
}

.Cube_button_pagado {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.status-pago-pendiente {
    padding: 1px 6px;
    border-radius: 4px;
    background-color: #feffc9;
    box-shadow: rgb(255 220 0) 0px 0px 0px 1px;
}

.status-pagado {
    padding: 1px 6px;
    border-radius: 4px;
    background-color: #ffdbb5;
    box-shadow: rgb(255 183 69) 0px 0px 0px 1px;
}

.status-pagado-listo {
    padding: 1px 6px;
    border-radius: 4px;
    background-color: #b5ffb5;
    box-shadow: rgb(54 255 0) 0px 0px 0px 1px;
}

.status-pagado-entregado {
    padding: 1px 6px;
    border-radius: 4px;
    background-color: #b5e7ff;
    box-shadow: rgb(0 187 255) 0px 0px 0px 1px;
}



.Cube_button_pagado {
    display: flex;
    justify-content: center;
}

#markAsPaidButton.disabled {
    filter: grayscale(1);
}

#markAsPaidButton {
    flex: 1 1 calc(50% - 10px);
    max-width: 190px;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 9px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    background: #00ff004a;
    box-shadow: 0px 0px 0px 1px rgb(54 255 0) inset;
    color: black;
    background: #fddbbc;
    box-shadow: 0px 0px 0px 1px rgb(231 136 52) inset;
    margin: 10px auto;
    padding: 12px 10px;
}

#markAsPaidButton img {
    vertical-align: middle;
    margin-right: 5px;
    height: 32px;
}

#markAsPaidButton:hover {
    background: #fcaf6c;
    transition: 0.3s;
}

#markAsReadyButton {
    margin: 10px auto;
    padding: 14px 12px;
    color: #000000;
    font-size: 16px;
    background: #00ff004a;
    border: none;
    box-shadow: 0px 0px 0px 1px rgb(39 183 0) inset;
    border-radius: 10px;
}

#markAsReadyButton:hover {
    background: #73ed73;
    transition: 0.3s;
}

#markAsDeliveredButton {
    margin: 10px auto;
    padding: 14px 12px;
    color: #000000;
    font-size: 16px;
    background: #b5e7ff;
    border: none;
    box-shadow: 0px 0px 0px 1px rgb(0 187 255) inset;
    border-radius: 10px;
}

#markAsDeliveredButton:hover {
    background: #7ad4fd;
    box-shadow: 0px 0px 0px 1px rgb(0 187 255) inset;
    transition: 0.3s;
}

.payment-button {
    flex: 1 1 calc(50% - 10px);
    padding: 14px 5px;
    max-width: 170px;
    background: #ddd;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 14px;
    box-shadow: 0px 0px 0px 2px rgba(231, 151, 215, 0) inset;
    font-size: 16px;
    display: inline-block;
}

.payment-button span {
    pointer-events: none;
}

.payment-button:hover {
    background: #cbcbcb;
    transition: 0.3s;
}

.payment-button.active {
    background: #a1cfff;
    border: 1px solid #007cff26;
    box-shadow: 3px 3px 11px 2px rgb(161 207 255);
}

.cube-montos {
    font-size: 26px;
    font-family: sans-serif;
    max-width: 470px;
    margin: 0px auto;
    background: #bac5d59e;
    padding: 10px 24px 10px 24px;
    border-radius: 7px;
    flex-direction: column;
    gap: 7px;
}

.cube-form-flex {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

#amountReceived {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    width: 100px;
    border-radius: 10px;
    border: none;
    background: #dcfbdf;
    padding: 4px 2px 2px 10px;
    box-shadow: 0px 0px 0px 1px rgb(33 159 47) inset;
}


.highlight {
    background-color: yellow;
}

.box_btns_facturas {
    position: relative;
    display: flex;
    overflow: auto;
    background: #00800000;
    align-items: center;
    padding-top: 9px;
    gap: 10px;
    min-height: 60px;
}

.button {
    flex: 1 1 calc(50% - 10px);
    padding: 4px 4px 4px 0px;
    background: #ddd;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s;
    justify-content: center;
    border-radius: 9px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 7px;
    color: black;
}

.button img {
    height: 36px;
}

#pendingInvoicesButton {
    background: #f9ff0036;
    box-shadow: 0px 0px 0px 1px #ffdc00 inset;
    transition: 0.3S;
}

#pendingInvoicesButton:hover {
    background: #f9d54394;
    transition: 0.3S;
}

#paidInvoicesButton {
    background: #ff83004a;
    box-shadow: 0px 0px 0px 1px #ffa2009e inset;
    transition: 0.3S;
}

#paidInvoicesButton:hover {
    background: #ffb5359e;
    transition: 0.3S;
}

#readyInvoicesButton {
    background: #00ff004a;
    box-shadow: 0px 0px 0px 1px rgb(54 255 0) inset;
    transition: 0.3S;
}

#readyInvoicesButton:hover {
    background: #00bb6b87;
    transition: 0.3S;
}

#deliveredInvoicesButton {
    background: #00abff4a;
    box-shadow: 0px 0px 0px 1px rgb(0 187 255) inset;
    transition: 0.3S;
}

#deliveredInvoicesButton:hover {
    background: #00abff7a;
    transition: 0.3S;
}

.title {
    text-align: center;
    margin: 10px 0px 0px 0px;
    font-size: 24px;
    padding: 10px;
    border-radius: 12px 12px 0px 0px;
    box-shadow: 0px 0px 0px 1px rgb(221 221 221) inset;
}

.pending {
    background-color: #f9ff0036;
}

.paid {
    background-color: #ff83004a;
}

.ready {
    background-color: #00ff004a;
}

.delivered {
    background-color: #b5e7ff;
}

#noInvoicesMessage {
    text-align: center;
    margin-top: 24px;
    color: #7d0707;
}


::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #00000041;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0000005b;
    border-radius: 2px;
}


@media screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
        max-height: calc(100% - 0px);
        border-radius: 0px;
    }

    #modal_historial {
        padding: 5px 15px;
    }

}
